PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
0 2 * * * /usr/local/bin/php /home/expertsender/get-removed-subscribers/bin/console removed-subscribers:csv:send -k npqHSIjt2l9enlHf2ZLk --customer-name acheterlouer -p acheterlouer >> /home/expertsender/get-removed-subscribers/logs/get-removed-subscribers.log
